@import "../../node_modules/bootstrap/scss/bootstrap.scss"

.navbar-nav.navbar-center 
    position: absolute
    left: 50%
    transform: translatex(-50%)

#blanc 
    height: 20px 
    width: 20px
    background-color: white

#noir 
    height: 20px 
    width: 20px
    background-color: black

#nav 
    height: 80px 
    display: flex
#blancNoir
    list-style: none
